@import "compass/css3/images";

$hue:190;

.page1 {
    background: radial-gradient(hsl($hue,50,60), hsl($hue,50,50) 50%);
    background-position: center bottom;
}

.page1 .portrait {
    border-radius: 50%;
    width:0;
    height:0;
    padding: calc(100px + 10%);
    background: url('/images/me.jpeg');
    background-size: cover;
    background-position: center;
    position: absolute;
    margin:auto;
    top: 55px; left: 0px; bottom: 0px; right: 0px;
    -webkit-transition: all 2s;
    transition: all 2s;
}

.page1.active .portrait {
    left:calc(90% - 100px);
}